/// Stalin sort implementation in SCSS
/// @param {list} $list
/// @return {list} $b
@function stalin($list) {
  $bigger: 0;
  $b: ();

  @for $i from 1 through length($list) {
    @if nth($list, $i) >= $bigger {
      $bigger: nth($list, $i);
      $b: append($b, nth($list, $i));
    }
  }

  @return $b;
}